main.aux
main.dvi
main.log
main.synctex.gz
Acknowledgment.aux
AppendixA.aux
AppendixB.aux
Authority.aux
Chapter1.aux
Chapter2.aux
Chapter3.aux
ChineseAbstract.aux
EnglishAbstract.aux
examine.aux
main.lof
main.lot
main.toc
References.aux
ThesisTitle.aux
